####################################################################################################
# backgrounds                                                                                      # d1e5fe
####################################################################################################

# BGRENDER accepts: BGRENDER_Stretched, BGRENDER_Color, BGRENDER_Scaled, BGRENDER_Tiled, BGRENDER_Centered, BGRENDER_Zoomed
DSI_BACKGROUND_ROOT_BGRENDER=BGRENDER_Zoomed
DSI_BACKGROUND_ROOT=MOSSYS:Prefs/Wallpapers/1920x1200/Laguna.png
DSI_BACKGROUND_ROOT_BGCOLOR=r49494949,8c8c8c8c,a7a7a7a7

DSI_BACKGROUND_WINDOW_BGRENDER=BGRENDER_Color
DSI_BACKGROUND_WINDOW=MOSSYS:Prefs/Wallpapers/
DSI_BACKGROUND_WINDOW_BGCOLOR=rc9c9c9c9,d9d9d9d9,f7f7f7f7

DSI_BACKGROUND_ROOT_REFRESH_DELAY=120

DSI_FONT_ROOT=Noto Sans UI/16
DSI_FONT_WINDOW=Noto Sans UI/16
DSI_FONT_ROOT_SMALL=Lux/11

####################################################################################################
# icons                                                                                            #
####################################################################################################

DSI_COLOR_LASSO=rcccccccc,d8d8d8d8,ffffffff

DSI_FONT_ROOT_EFFECT=TBRENDER_AlphaShadow
DSI_COLOR_ROOT=rffffffff,ffffffff,ffffffff
DSI_COLOR_ROOT2=r00000000,00000000,00000000

DSI_FONT_WINDOW_EFFECT=TBRENDER_Normal
DSI_COLOR_WINDOW=r00000000,00000000,00000000
DSI_COLOR_WINDOW2=r00000000,00000000,00000000

#DSI_ICON_MINSIZE=ICON_SIZE_HUGE
#DSI_ICON_MAXSIZE=ICON_SIZE_LARGE

DSI_ICON_SHORTCUTSIDENTIFIER=1
DSI_ICON_APPICONSIDENTIFIER=0
DSI_ICON_DEFGHOSTED=1
DSI_ICON_AUTOSNAPSHOT=0
DSI_ICON_DUALPNG=1
DSI_ICON_FADE=0
DSI_ICON_SEPARATEFILES=0

DSI_ICON_TINTVAL=r61616161,6e6e6e6e,a3a3a3a3
DSI_DRAGDROP_TINTVAL=r10101010,95959595,ffffffff

####################################################################################################
# misc                                                                                             #
####################################################################################################

DSI_MISC_REMEMBER_WINDOWS=0
DSI_MISC_REMEMBER_DOCUMENTS=0
DSI_MISC_DRIVE_INFO=2
DSI_MISC_MYMORPHOSICON=1
DSI_MISC_DESKTOPDOUBLECLICK=1
DSI_MISC_CONTEXTMENUIMAGES=0
DSI_MISC_CREATEICONFORNEWDRAWER=1

####################################################################################################
# lister                                                                                           #
####################################################################################################

DSI_FASTLIST_COMPACT_SIZE_DISPLAY=1
DSI_FASTLIST_ASSIGN_DISPLAY=1
DSI_FASTLIST_WINDOW_BG=1
DSI_FASTLIST_BOLD_DIRECTORIES=0
DSI_FASTLIST_FONT=Noto Sans UI/16
DSI_FASTLIST_ALTERNATED_ROWS=0
DSI_FASTLIST_HILIGHTED_SORTING_COLUMN=0
DSI_FASTLIST_COLOR_DIRECTORY_FG=r09090909,39393939,9e9e9e9e
DSI_FASTLIST_COLOR_FILE_SEL_FG=r00000000,00000000,00000000
DSI_FASTLIST_COLOR_DIRECTORY_SEL_FG=r00000000,00000000,00000000
DSI_FASTLIST_COLOR_VOLUME_FG=r00000000,00000000,00000000

####################################################################################################
# window                                                                                           #
####################################################################################################

DSI_TOOLBAR_BROWSERMODE=1
DSI_TOOLBAR_DEFINITION=Devices list1"Internal" "LoadURI devices:// VIEWID %Si" "toolbar/deviceslist.png" "0" "-1"Parent3"Internal" "Parent %Si" "toolbar/parent.png" "0" "-1"Space2"1"Back3"Internal" "HistoryPrev %Si" "toolbar/historyprev.png" "0" "-1"Forward3"Internal" "HistoryNext %Si" "toolbar/historynext.png" "0" "-1"Space2"1"IconInfo1"Internal" "Iconinfo %sp" "toolbar/iconinfo.png" "0" "128"Rename1"Internal" "Rename %sp" "toolbar/rename.png" "8" "384"Space2"1"Copy1"Internal" "Copy FROM %sp TO %D" "toolbar/filecopy.png" "8" "128"Move1"Internal" "Move FROM %sp TO %D" "toolbar/filemove.png" "8" "128"Delete1"Internal" "Delete %sp" "toolbar/delete.png" "8" "128"Space2"1"Makedir1"Internal" "Makedir %S" "toolbar/makedir.png" "0" "128"Space2"1"Find1"Internal" "Find %S" "toolbar/find.png" "0" "-1"Flexible space2"0"
DSI_TOOLBAR_DISPLAYMODE=DM_IMAGE_ONLY

DSI_WINDOW_DEFAULT_WIDTH=600
DSI_WINDOW_DEFAULT_HEIGHT=600
DSI_WINDOW_DEFAULT_LEFT=-1
DSI_WINDOW_DEFAULT_TOP=-1