DSI_PANELGROUP_DRAGGADGET_PLACEMENT=MV_Panelgroup_DragMode_LeftUp
DSI_PANELGROUP_ISHORIZ=1
DSI_PANELGROUP_LOCKED=1
DSI_PANELGROUP_SIZE=MV_Panelgroup_Size_Large
DSI_PANELGROUP_ZIPPING_ENABLED=1
DSI_PANELGROUP_X=0
DSI_PANELGROUP_Y=10000
DSI_PANELGROUP_POSMODE=1
DSI_PANELGROUP_BORDERATTACH=BA_BOTTOM
DSI_PANELGROUP_FRAMESPEC=200000§VIS=50
DSI_PANELGROUP_IMAGESPEC=7:0|re9bde9bd,e9bbe9bb,e9bae9ba|rc859c859,c857c857,c856c856

# tools to be added here: <program path or uri>|<picture or icon path>.
Sys:Applications/Sputnik/Sputnik|Sys:Applications/Sputnik/Sputnik.info
Sys:Utilities/Multiview|Sys:Utilities/Multiview.info
Sys:Tools/MUI Shell|Sys:Tools/MUI Shell.info
